<h1>Listing job_applications</h1>

<table>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Position</th>
    <th>Resume file name</th>
    <th>Resume content type</th>
    <th>Resume file size</th>
    <th>Resume updated at</th>
    <th>Letter file name</th>
    <th>Letter content type</th>
    <th>Letter file size</th>
    <th>Letter updated at</th>
  </tr>

<% @job_applications.each do |job_application| %>
  <tr>
    <td><%=h job_application.first_name %></td>
    <td><%=h job_application.last_name %></td>
    <td><%=h job_application.email %></td>
    <td><%=h job_application.phone %></td>
    <td><%=h job_application.position %></td>
    <td><%=h job_application.resume_file_name %></td>
    <td><%=h job_application.resume_content_type %></td>
    <td><%=h job_application.resume_file_size %></td>
    <td><%=h job_application.resume_updated_at %></td>
    <td><%=h job_application.letter_file_name %></td>
    <td><%=h job_application.letter_content_type %></td>
    <td><%=h job_application.letter_file_size %></td>
    <td><%=h job_application.letter_updated_at %></td>
    <td><%= link_to 'Show', job_application %></td>
    <td><%= link_to 'Edit', edit_job_application_path(job_application) %></td>
    <td><%= link_to 'Destroy', job_application, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New job_application', new_job_application_path %>